In [1]:
# Dependencies

# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine
from config import user
from config import Password 


#engine = create_engine('postgresql://username:password@localhost/EmployeeSQL')
engine = create_engine(f'postgresql://{user}:{Password}@localhost:5432/movie_db')

connection = engine.connect()

# MatPlotLib/NumPy/SciPy
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats

#import seaborn as sns

In [2]:
#movie_data = pd.read_sql("SELECT * FROM movie_tb", connection)
#movie_data.head()

In [3]:
#movie_data_rating_geners = pd.read_sql("select * from movie_by_rating_geners", connection)
#movie_data_rating_geners.head()

In [4]:
#Removing the "tt" sign from age rating
movie_data["imdb_id"] = movie_data["imdb_id"].str.replace("tt","")

NameError: name 'movie_data' is not defined

In [ ]:
print("Movie with highest IMDb ratings are= ")
print((movie_data.sort_values("imdb_id",ascending=False).head(20))['title'])

In [ ]:
plt.hist(movie_data['budget'], 15, density=False, label="budget")
plt.axvline(movie_data['budget'].mean(), color='r', linestyle='dashed', linewidth=1, label="budget Mean")
plt.xlabel("budget")
plt.ylabel("Number of Movie")
plt.legend() 
plt.title("Common budget Ranges")
plt.savefig("Common budget Ranges.png")

In [ ]:
# Top Movie base on Budget
movie_data.sort_values(by=['budget'],ascending=False)
movie_data.head(5)

In [ ]:
# Top Movie base on revenue
movie_data.sort_values(by=['revenue'],ascending=False)
movie_data.head(5)

In [ ]:
# Top Movie base on revenue
movie_data.sort_values(by=['vote_average'],ascending=False)
movie_data.head(5)

In [ ]:
#vote over 5
movie_data = pd.read_sql("SELECT * FROM movie_tb where vote_average > 5.0 ", connection)
movie_data.head()

In [ ]:
#vote under 5
movie_data = pd.read_sql("SELECT * FROM movie_tb where vote_average < 5.0 ", connection)
movie_data.head()

In [ ]:
movie_data = pd.read_sql("SELECT * FROM movie_tb where vote_average > 5.0 ", connection)
movie_data.head()

In [ ]:
rating_data = pd.read_sql("SELECT * FROM rating_tb", connection)
rating_data.head()

In [ ]:
link_data = pd.read_sql("SELECT * FROM link_tb", connection)
link_data.head()

In [ ]:
link_data['tmdbId'] = link_data['tmdbId'].apply(lambda f: format(f, '.0f'))

In [ ]:
link_data

In [ ]:
gener_data = pd.read_sql("SELECT * FROM genre_tb", connection)
gener_data.head()