In [1]:
import numpy as np 
import pandas as pd 

import datetime as dt
#from datetime import datetime


from sqlalchemy import create_engine

In [2]:
# ---------------------------------Extract CSVs into DataFrames--------------------------------

In [3]:
#reading the  movies_metadata
movies_metadata=pd.read_csv("Resources/movies_metadata.csv")

C:\Users\alisa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
movies_metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [6]:
#Transform movies_metadata DataFrame
# Create a filtered dataframe from specific columns
movie_cols = ["id", "imdb_id","genres","budget", "title" , "release_date","revenue" ,"vote_average"]
movie_transformed= movies_metadata[movie_cols].copy()

In [7]:
# Rename the column headers
movie_transformed = movie_transformed.rename(columns={"id": "id",
                                                          "imdb_id": "imdb_id",
                                                          "title": "title",
                                                          "genres" : "genres",
                                                          "release_date" :"release_date",
                                                          "budget" : "budget",
                                                          "revenue" :"revenue",
                                                          "vote_average" :"vote_average"
                                                         
                                                     })

In [8]:
movie_transformed["id"].astype(int)

ValueError: invalid literal for int() with base 10: '1997-08-20'

In [ ]:
# Clean the data by dropping duplicates and setting the index
movie_transformed.drop_duplicates("id", inplace=True)
#movie_transformed.set_index("id", inplace=True)

In [ ]:
movie_transformed.dropna(how="any",inplace=True)

In [ ]:
movie_transformed.sort_index

In [ ]:
movie_transformed.sort_index

In [ ]:
movie_transformed[['tt', 'imdb_id']] =  movie_transformed['imdb_id'].str.split('tt', expand=True)

In [ ]:
movie_transformed.head()

In [ ]:
movie_transformed.sort_values('id')

In [ ]:
#reading the ratings_small
ratings_small=pd.read_csv("Resources/ratings_small.csv")

In [ ]:
ratings_small.head()

In [ ]:
#reading the links_small
links_small=pd.read_csv("Resources/links_small.csv")

In [ ]:
links_small.head()

In [ ]:
# conver datstamp to date
ratings_small['timestamp'] = pd.to_datetime(ratings_small['timestamp'], unit='s')

In [ ]:
ratings_small.dropna()

In [ ]:
#Transform mov DataFrame

In [ ]:
# Create a filtered dataframe from specific columns
movie_cols = ["id", "imdb_id", "original_title" , "release_date" ,"vote_average" , "vote_count" ]
movie_transformed= movies_metadata[movie_cols].copy()

In [ ]:
# Rename the column headers
movie_transformed = movie_transformed.rename(columns={"id": "id",
                                                          "imdb_id": "imdb_id",
                                                          "original_title": "title",
                                                          "release_date" :"release_date",
                                                          "vote_average" :"vote_average",
                                                          "vote_count" :"vote_count"
                                                     })

In [ ]:
# Clean the data by dropping duplicates and setting the index
movie_transformed.drop_duplicates("id", inplace=True)
movie_transformed.set_index("id", inplace=True)

In [ ]:
movie_transformed.head()

In [ ]:
ratings_small

In [ ]:
ratings_cols = ["movieId", "imdbId", "timestamp"]
ratings_transformed = ratings_small[ratings_cols].copy()

In [ ]:
# Rename the column headers
ratings_transformed = ratings_transformed.rename(columns={"movieId": "movieId",
                                                         "rating": "rating",
                                                         "timestamp": "date"
                                                         })

In [ ]:
# Set index
ratings_transformed.set_index("movieId", inplace=True)

In [ ]:
ratings_transformed.head()

In [ ]:
links_small

In [ ]:
links_cols = ["movieId", "imdbId", "tmdbId"]
links_transformed = links_small[links_cols].copy()

In [ ]:
# Rename the column headers
links_transformed = links_transformed.rename(columns={"movieId": "movieId",
                                                         "imdbId": "imdbId",
                                                         "tmdbId": "id",
                                                         })

In [ ]:
# Set index
links_transformed.set_index("movieId", inplace=True)

In [ ]:
links_transformed.head()